header {
  position: absolute;
  width: 100%;
  color: white;
  padding: 20px 0;
  z-index: 20;

  .logo {
    display: inline-block;
      width: 80px;
      height: 80px;
      padding: 20px 10px;
    .logo-img {
      width: 100%;
      height: 80px;
      background: url("https://github.com/kenvantruong/hyper-restaurant/blob/master/public/img/pho_icon.png?raw=true") no-repeat center; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  
    }
  }

  

    nav {
      display: inline-block;
      float: right;
      text-align: right;

      a {
        display: inline-block;
        color: white;
        text-decoration: none;
        padding: 0px 0px 0px 20px;

      }
    }
}